@model IEnumerable<CarServiceBL.Models.Service>
@{
    ViewData["Title"] = "ViewAllDeleted";
}

<h2>ViewAllDeleted</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <tr>
            <th> @Html.DisplayNameFor(x=> x.ServiecName )> </th>
            <th> @Html.DisplayNameFor(x=> x.ServiceDescription ) </th>
            <th>Operation</th>
        </tr>
        @foreach (var ser in Model)
        {
            <tr>
                <td>@ser.ServiecName</td>
                <td>@ser.ServiceDescription</td>
                <td>
                    <a asp-action="Restore" class="btn btn-danger" asp-route-id="@ser.ServiceId">Restor</a>
                </td>

            </tr>

        }
    </table>
}


else
{
    <div class=" alert alert-warning">
        No Data in this List
        <a asp-action="Create" class="btn btn-outline-warning">click</a>
        to  create new Service


    </div>

}