@model IEnumerable<CarServiceBL.Models.Prodect>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (ViewBag.IsDeleted > 0)
{
    <a asp-action="ViewAllDeleted" class="btn btn-success">ViewAllDeleted</a>
}

<br />
<br />

@if (Model.Any())
{
    <a asp-action="Create" class="btn btn-success">Create</a>
    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(x=>x.ProdectName)</td> 
            <td>@Html.DisplayNameFor(x=>x.ProdectDescription)</td>
            <td>@Html.DisplayNameFor(x=>x.Size)</td>
            <td>@Html.DisplayNameFor(x=>x.Price)</td>
                <td>@Html.DisplayNameFor(x=>x.Type)</td>
            <td>@Html.DisplayNameFor(x=>x.Image)</td>
        </tr>

        @foreach (var i in Model)
        {

            <tr>
                <td>@i.ProdectName</td>
                <td>@i.ProdectDescription</td>
                <td>@i.Size</td>
                <td>@i.Price</td>
                <td>@i.Type</td>
                <td>
                    <img src="~/img/@i.ImagePath" width="50" class=" img-thumbnail  rounded-circle" />
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@i.ProdectId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@i.ProdectId">Delete</a>
                    <a asp-action="SoftDelete" class="btn btn-danger" asp-route-id="@i.ProdectId">SoftDelete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <p> No Prodect Created Yet  if  You  want You Can Create A one From Here  <p />
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
} 